html {
  font-size: 10px;
  background: url("drum-bg.jpeg") center/cover no-repeat;
  position: relative;
}
html::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.5;

  position: absolute;
  top: 0;
  left: 0;

  background: black;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  position: relative;
  z-index: 10;
}

.keys {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.key {
  width: 10rem;
  margin: 1rem;
  padding: 1rem 0.5rem;
  cursor: pointer;

  background: rgba(0, 0, 0, 0.4);
  border: 0.4rem solid black;
  border-radius: 0.5rem;

  font-size: 1.5rem;
  color: white;
  text-align: center;
  text-shadow: 0 0 0.5rem black;

  transition: all 0.07s ease;
}

.key:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
}

.key.is-playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}
